//babel配置文件，不需要做修改，因为都配置好了
{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-runtime",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
